@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.Container {
    width: 90%;
    max-width: 540px;
    height: 600px;
    box-sizing: border-box;
    transition: var(--transition-smooth);
    font-family: 'Josefin Sans', sans-serif;
}

.Header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}