@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.Title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 32px;
    letter-spacing: 7px;
}