@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.AddToDoPanel {
    width: 100%;
    height: 60px;
    background: var(--very-dark-desaturated-blue);
    border-radius: 7px;
    transition: var(--transition-smooth);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px black;
}

.Dark {
    background: var(--very-dark-desaturated-blue);
}

.Light {
    background: var(--very-light-gray);
    box-shadow: 0px 2px 7px var(--very-dark-grayish-blue);
}

.input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 56px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1px;
}

.Dark .input {
    color: var(--dark-grayish-blue);
}

.Light .input {
    color: var(--dark-grayish-blue);
}