:root {
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-2: hsl(237, 14%, 26%);

    --transition-smooth: 0.4s;
}

.Dark{
    background: var(--very-dark-blue);
}

.Light {
    background: var(--very-light-grayish-blue);
}

.App {
    transition: var(--transition-smooth);
    width: 100%;
    overflow-x: hidden;
    height: calc(100 * var(--vh));
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DesktopDark{
    background-image: url('/public/mentor-assets/images/bg-desktop-dark.jpg');
}

.DesktopLight{
    background-image: url('/public/mentor-assets/images/bg-desktop-light.jpg');
}

.MobileDark{
    background-image: url('/public/mentor-assets/images/bg-mobile-dark.jpg');
}

.MobileLight{
    background-image: url('/public/mentor-assets/images/bg-mobile-light.jpg');
}